*{
    font-family:Arial, Helvetica, sans-serif
}

html{
    font-size:62.5%
}

body {
    margin: 0;
    min-height: 100vh;
}

#container-top{
    display:flex;
    align-items:center;
    justify-content:center;
}

header{
    margin: 10px 15%;
    text-align:center;
}

#container-mid{
    display: flex;
    flex-direction: column;
}

.calculator{
    display:flex;
    flex-direction: column;
    border:1px solid rgb(0, 0, 0);
    margin:10px auto;
    max-width: 300px;
    min-width: 250px;
    
}

.display{
    background-color:rgb(39, 39, 39);
    color:rgb(255, 255, 255);
    padding: 1.4em 0.4em;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.top{
    font-size:1.4rem;
    letter-spacing: 0.2em;
    color: rgb(164, 163, 163);
    height: 1.5em;
}

.bottom{
    font-size:3.8rem;
}

.calcButtons {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.calcButtons button {
    display: flex;
    width: 24.1%;
    color: white;
    justify-content: center;
    height: 3.5em;
    align-items: center;
    border-radius: 0.4em;
    border: 0.2px solid grey;
}
    

.calculator .body {
    background-color: rgb(39, 39, 39);
    display: flex;
    padding: 0.2em;
}



.calcButtons .operation, .calcButtons .ce, .calcButtons .reset, .calcButtons .delete{
    background-color:rgb(39, 39, 39);
}

.calcButtons .operation:hover, .calcButtons .ce:hover, .calcButtons .reset:hover, .calcButtons .delete:hover{
    background-color: rgb(55 54 54);
}

.calcButtons .operation:focus, .calcButtons .ce:focus, .calcButtons .reset:focus, .calcButtons .delete:focus {
    background-color:rgb(39, 39, 39);
}

.calcButtons .number{
    background-color: rgb(55 54 54);
}

.calcButtons .number:hover{
    background-color:rgb(39, 39, 39);
}

.calcButtons .number:focus {
    background: #1f1f1f;
}
